<p id="notice"><%= notice %></p>

<h1>
  <%= t '.title' %>
  <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_product_path,
              class: 'btn btn-flat btn-transparent create' %>
</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t '.name' %></th>
    <th><%= t '.tag' %></th>
    <th><%= t '.price' %></th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.tag %></td>
        <td><%= product.price %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_product_path(product), class:'btn btn-flat transparent-blue' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' },
                        class:'btn btn-flat transparent-red' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
